.product-summary {
  width: 100%;
  .info-summary {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  // border: 10px solid black;
  border-bottom: 3px solid var(--light-blue);
  padding: 5px;
  background-color: #f5f6fa;
  width: 50rem;
}

.card1 {
  background-color: #663f79;
}
.card2 {
  background-color: #48794e;
}
.card3 {
  background-color: #842943;
}
.card4 {
  background-color: #2f6480;
}
